@{
    ViewData["Title"] = "Play";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model AncientMinotaurs.Models.Monster
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div id="rooms">
                @Html.Partial("AjaxRooms")
            </div>

        </div>
        <div class="col-sm-3 col-sm-offset-6">
            <div class="container">
                <h4 >
                    <img src="@ViewBag.Character.Avatar" />
                    <br />@ViewBag.Character.Name
                </h4>
            </div>
        </div>
    </div>
    
</div>
<div class="container">
    
    <hr />
    <div id="items">
        @Html.Partial("AjaxItems")
    </div>
</div>
<div class="monster-display">
    <hr />
    @Html.Partial("AjaxMonsters")
</div>

@if (ViewBag.Admin)
{
    <div class="admin-display">
        @Html.Partial("AjaxAdmin")
    </div>
}
