@{
    ViewData["Title"] = "Play";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model AncientMinotaurs.Models.Monster
<div class="container">
    <img class="pull-left" src="@ViewBag.Room.Image" />
    
    <div class="container">
        
        <img class="pull-right" src="@ViewBag.Character.Avatar" />
    </div>
</div>
<div class="container">
    <h4>@ViewBag.Room.Description</h4>
    <h5>Treasures in this room:</h5>
    <ul>
        @foreach (var treasure in ViewBag.Treasures)
        {
            <li><a asp-controller="Game" asp-action="PickUp" asp-route-id="@treasure.ItemId">Pick up</a> @treasure.ItemName</li>

        }
    </ul>
    <h4 class="pull-right">@ViewBag.Character.Name</h4>
    <br />
    <br />
    <h4 class="pull-right">Inventory</h4>
    <br />
    <br />
    <ul class="pull-right">
        @foreach (var item in ViewBag.Items)
        {
            <li>
                @item.ItemName <a asp-controller="Game" asp-action="Drop" asp-route-id="@item.ItemId">Drop item</a>
            </li>
        }
    </ul>

    <ul>
        @foreach (var path in ViewBag.Paths)
        {
            <li><a asp-controller="Game" asp-action="Move" asp-route-id="@path.RoomId">Go to @path.Description</a></li>
        }
    </ul>
    <hr />
    @foreach (var monster in ViewBag.Monsters)
    {

            <a asp-controller="Game" asp-action="Fight" asp-route-id="@monster.MonsterId"> <img src="@monster.Avatar" /></a>

    }
</div>

@if (ViewBag.Admin)
{
    <button id="monster-button" class="btn-success" type="button">Make a unique Monster</button>
    <div id="monster-form">
        <form method="post" asp-controller="Game" asp-action="Monster">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Avatar" class="control-label">Avatar URL</label>
                <input asp-for="Avatar" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Health" class="control-label"></label>
                <input asp-for="Health" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Damage" class="control-label"></label>
                <input asp-for="Damage" class="form-control" />
            </div>
            <input type="hidden" asp-for="RoomId" value="@ViewBag.Room.RoomId" />
            <div>
                <button class="btn btn-lg btn-success">Save</button>
            </div>
        </form>
    </div>
    <h4>Add a default monster</h4>
    <p>
        <a asp-controller="Game" asp-action="Spider" asp-route-id="@ViewBag.Room.RoomId">Add a spider</a> | 
        <a asp-controller="Game" asp-action="BabyFace" asp-route-id="@ViewBag.Room.RoomId">Add a Baby Mask</a> | 
        <a asp-controller="Game" asp-action="ScaryFace" asp-route-id="@ViewBag.Room.RoomId">Add a Scary Face</a> 
    </p>


    <a class="btn btn-success" asp-controller="Game" asp-action="AdminRoom">Make a new Room</a>
    <a class="btn btn-success" asp-controller="Game" asp-action="AdminPathways">Make a new Pathway</a>


}